div.form-group input.form-control:focus {
    outline: none;
    border-color: #000;
    color: #000;
    box-shadow: none;
}

div.form-group label {
    font-size: 0.625rem;
    margin-bottom: 0.25rem;
    color: #000;
}

label {
    font-size: 0.625rem;
}

select.form-control,
input.form-control {
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;

    &:focus {
        outline: none;
        box-shadow: none;
        border-color: black;
    }
}