body.page-home {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+52,000000+52,000000+100&0.65+0,1+52,1+52,1+100 */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.65) 0%, rgba(255,255,255,1) 52%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.65) 0%,rgba(255,255,255,1) 52%,rgba(0,0,0,1) 52%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,255,255,0.65) 0%,rgba(255,255,255,1) 52%,rgba(0,0,0,1) 52%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}