.Wizard  {
    margin-bottom: 2rem;

    h4 {
    	font-size: 0.75rem;
    }
}

.Wizard-Item-Container {
    border-right: 1px solid #ebebeb;
}

.Wizard-Item-Container:last-child { 
    border-right: none; 
}

/* NAVIGATIOn */
.Wizard-Navigation-List {
    counter-reset: wizard-navigation-item; 
}

.Wizard-Navigation-List-Item {
}

.Wizard-Navigation-List-Item.Active span {
    background: black;
    color: white;
}

.Wizard-Navigation-List-Item.Disabled span,
.Wizard-Navigation-List-Item.Disabled span:hover {
    color: #bbb;
    background: transparent;
    cursor: not-allowed;
}

.Wizard-Navigation-List-Item span {
    display: block;
    color: black;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 1rem;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.Wizard-Navigation-List-Item span:hover {
    text-decoration: none;
    background: black;
    color: white;
}

.Wizard-Navigation-List-Item span::before {
    counter-increment: wizard-navigation-item;
    content: counter(wizard-navigation-item);
    display: inline-block;

    width: 24px;
    height: 24px;
    border: 1px solid black;
    line-height: 24px;
    border-radius: 24px;
    text-align: center;
    margin-right: 0.5rem;
  }

  .Wizard-Navigation-List-Item.Active span::before,
  .Wizard-Navigation-List-Item span:hover::before {
      background: white;
      color: black;
  }

  .Wizard-Navigation-List-Item.Disabled span::before,
  .Wizard-Navigation-List-Item.Disabled span:hover::before {
    border-color: #bbb;
    color: #bbb;
}

/* PREVIEW */
.Wizard-Preview {
    height: 630px;
    padding: 42px;
}

.Wizard-Preview-Frame {
    background: linear-gradient(145deg, #505050, #282727);
    display: block;
    height: 100%;
    width: 100%;
    padding: 42px;
}

.Wizard-Preview-InnerFrame {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #e9e9e9;
    padding: 36px;
}

.Wizard-Preview-Content {
    width: 100%;
    height: 100%;
    background-color: #f8f8f9;
    box-shadow: inset 0 1px 30px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

/** Content */
.Wizard-Content {}

.Wizard-Content-Container {
    overflow-y: auto;

    @include media-breakpoint-up(lg) {
	    max-height: 650px;
	    min-height: 500px;
    }
}

/** THEME **/
.Wizard-Content-Theme-Item-List-Item,
.Wizard-Content-Design-Theme-Item-List-Item,
.Wizard-Content-Product-Item-List-Item {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.Wizard-Content-Theme-Item-List-Item.Active,
.Wizard-Content-Design-Theme-Item-List-Item.Active,
.Wizard-Content-Product-Item-List-Item.Active {
    background: #000;
}

.Wizard-Content-Theme-Item-Image,
.Wizard-Content-Design-Theme-Item-Image,
.Wizard-Content-Product-Item-Image {
    border: 1px solid black;
    width: 100%;
    display: block;
    height: 100%;
}

.Wizard-Content-Theme-Item-Title,
.Wizard-Content-Design-Theme-Item-Title,
.Wizard-Content-Product-Item-Title {
    font-size: 1rem;
}

.Wizard-Content-Theme-Item-List-Item.Active .Wizard-Content-Theme-Item-Title,
.Wizard-Content-Design-Theme-Item-List-Item.Active .Wizard-Content-Design-Theme-Item-Title,
.Wizard-Content-Product-Item-List-Item.Active .Wizard-Content-Product-Item-Title {
    color: white;
}


.Wizard-Content-Theme-Item-Description,
.Wizard-Content-Design-Theme-Item-Description,
.Wizard-Content-Product-Item-Description {
    font-size: 0.75rem;
    color: #9b9b9b;
}

.Wizard-Content-Theme-Item-Button,
.Wizard-Content-Design-Theme-Item-Button,
.Wizard-Content-Product-Item-Button {
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
    border: 1px solid black;
    color: black;
    background: white;
    border-radius: 16px;
    font-weight: bold;

    &:hover {
	    text-decoration: none;
	    color: white;
	    background: black;
	}
}

.Wizard-Content-Theme-Item-List-Item.Active,
.Wizard-Content-Design-Theme-Item-List-Item.Active,
.Wizard-Content-Product-Item-List-Item.Active {
	.Wizard-Content-Theme-Item-Button {
    	cursor: default;

    	&:hover {
		    background: white;
    		color: black;
    	}
    }
}

.Wizard-Content-Footer {
    padding-top: 32px;
    box-shadow: 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.3);
    text-align: center;

    .Wizard-Content-Footer-Button {
	    display: inline-block;
	    background: black;
	    color: white;
	    font-size: 0.875rem;
	    padding: 8px 16px;
	    border-width: 2px;

	    i {
	    	font-size: 0.75rem;
	    }
	    
	    &:hover {
	    	color: black;
    		text-decoration: none;
    		background: white;
    		border-color: black;
	    }
	}
}

/** INFORMATION **/
div.Wizard-Content-Information-Item {
	ul.Wizard-Content-Information-Item-List {
		margin-bottom: 1rem;
	}

	button.btn-max-reached {
		margin-top: 0;
		background: $gray-200;
	}

	div.Information-Item-Max {
		background: $gray-200;
		border-radius: 3px;
		padding: 5px 12px;

		&.max-reached {
			background: $brand-danger;
			color: white;
		}

		.Information-Item-Max-title {
			font-size: 0.625rem;
			line-height: 1.3em;
			display: block;
		}

		.Information-Item-Max-value {
			font-size: 0.875rem;
			display: block;
			line-height: 1.3em;
		}
	}

	div.Wizard-Content-Information-Item-List-Item-Input {
		.input-group {
			position: relative;
			margin-bottom: 10px;

			input.form-control {
				border-radius: 3px;
			}

			div.valid-feedback,
			div.invalid-feedback {
				position: absolute;
				top: 110%;
				z-index: 2;
				padding: 6px;
				border-radius: 3px;
			}

			div.valid-feedback {
				background: $brand-success;
				color: white;
			}

			div.invalid-feedback {
				background: $brand-danger;
				color: white;
			}
		}
	}
}

li.Wizard-Content-Information-Item-List-Item .row,
div.Wizard-Content-Information-Item > .row {
    margin-right: 0;
    margin-left: 0;

    > div:first-child {
    	padding-left: 0;
    }
    > div:last-child {
    	padding-right: 0;
    }
}

div.Wizard-Content-Information-Item-List-Item-Remove {
    margin-top: 25px;
    text-align: right;
    position: relative;
    cursor: pointer;
}

div.Wizard-Content-Information-Item-List-Item-Remove i {
    font-size: 34px;
    position: absolute;
    text-align: right;
    left: 0;
    right: 0;
}

.Wizard-Content-Information-Item-List-Item-Remove .normal {
    color: #ccc;
}

.Wizard-Content-Information-Item-List-Item-Remove .hover {
    color: #ff007c;
    display: none;
}

.Wizard-Content-Information-Item-List-Item-Remove:hover .hover {
    display: block;   
}

.Wizard-Content-Information-Item-List-Item-Remove:hover .normal {
    display: none;
}

.Wizard-Content-Information-Item-List-Item-Remove-Text {
    font-size: 0.625rem;
    position: absolute;
    text-align: right;
    left: 0;
    right: 0;
    top: 36px;
}

/** TESTING **/
.Wizard-Preview-Content {
	overflow: hidden;
	
	&.names {
		.Wizard-Preview-Names {
	        position: absolute;
	        top: 46.9%;
	        transform: translateY(-50%);
	        left: 0;
	        right: 0;
	        text-align: center;
	        font-size: 3rem;
	        line-height: 1em;

	        font-variant-numeric: lining-nums;
	        -moz-font-feature-settings: "lnum" 1;
	        -moz-font-feature-settings: "lnum=1";
	        -ms-font-feature-settings: "lnum" 1;
	        -o-font-feature-settings: "lnum" 1;
	        -webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
	    }

	    .Wizard-Preview-Years {
	        display: none;
	    }
	}

	&.years {
		.Wizard-Preview-Years {
	        position: absolute;
	        top: 46.9%;
	        transform: translateY(-50%);
	        left: 0;
	        right: 0;
	        text-align: center;
	        font-size: 3rem;
	        line-height: 1em;

	        font-variant-numeric: lining-nums;
	        -moz-font-feature-settings: "lnum" 1;
	        -moz-font-feature-settings: "lnum=1";
	        -ms-font-feature-settings: "lnum" 1;
	        -o-font-feature-settings: "lnum" 1;
	        -webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
	    }

	    .Wizard-Preview-Names {
	    	display: none;
	    }
	}

	&.years-and-names {
		.Wizard-Preview-Years {
	        position: absolute;
	        top: 46.9%;
	        transform: translateY(-50%);
	        left: 0;
	        right: 0;
	        text-align: center;
	        font-size: 3rem;
	        line-height: 1em;

	        font-variant-numeric: lining-nums;
	        -moz-font-feature-settings: "lnum" 1;
	        -moz-font-feature-settings: "lnum=1";
	        -ms-font-feature-settings: "lnum" 1;
	        -o-font-feature-settings: "lnum" 1;
	        -webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
	    }

	    .Wizard-Preview-Names {
	        position: absolute;
	        bottom: 19.9%;
	        transform: translateY(100%);
	        left: 0;
	        right: 0;
	        text-align: center;
	        text-transform: uppercase;
	        font-size: .75rem;

	        font-variant-numeric: lining-nums;
	        -moz-font-feature-settings: "lnum" 1;
	        -moz-font-feature-settings: "lnum=1";
	        -ms-font-feature-settings: "lnum" 1;
	        -o-font-feature-settings: "lnum" 1;
	        -webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
	    }

	    .Wizard-Preview-Name-Item {
	        display: inline-block;
	    }

	    .Wizard-Preview-Name-Item::after {
	        content: "*";
	        margin-left: 0.25rem;
	        margin-right: 0.25rem;
	    }

	    .Wizard-Preview-Name-Item:last-child:after {
	        content: '';
	        margin: 0;
	    }
	}
}

.action-add-to-cart,
.action-go-to-checkout {
	margin-top: .5rem;

	i {
		position: relative;
		top: 2px;
		line-height: 0;
		margin-left: .5rem;
		font-size: 1.125rem;
	}
}