<template>
	<div>
		<div class="Cart-Icon">
			<i class="fa fa-shopping-cart"></i>
			<span class="Cart-Icon-Quantity">
			{{ $store.state.cart.count }}
			</span>
		</div>
		<div class="Cart-Sum">
			{{ $store.state.cart.sum / 100 }}:-
		</div>
		<div class="Cart-Symbol">
			<i class="fa fa-angle-down"></i>
		</div>
	</div>
</template>

<script>
    export default {
        mounted() {
        	this.$store.commit('setCart');
            this.$store.commit('refreshCart');
        }
    }
</script>
