<template>
    <div class="Wizard">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-2 Wizard-Item-Container">
                <div class="Wizard-Navigation">
                    <ul class="Wizard-Navigation-List">
                        <li v-for="navItem in nav" class="Wizard-Navigation-List-Item" v-bind:class="{ 'Active': navItem.active}">
                            <span v-on:click="toggleContent(navItem)">
                                {{ navItem.title }}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4 Wizard-Item-Container">
                <div class="Wizard-Content">
                    <div class="Wizard-Content-Container">
                        <ul v-if="nav[0].active" class="Wizard-Content-Theme-Item-List">
                            <li v-for="theme in themes" class="Wizard-Content-Theme-Item-List-Item" v-bind:class="{Active:theme.active}">
                                <div class="row" v-on:click.prevent="toggleTheme(theme)">
                                    <div class="col-4">
                                        <img v-bind:src="theme.image" v-bind:alt="theme.title" class="Wizard-Content-Theme-Item-Image" />
                                    </div>
                                    <div class="col-8">
                                        <h3 class="Wizard-Content-Theme-Item-Title">{{theme.title}}</h3>
                                        <p class="Wizard-Content-Theme-Item-Description">{{theme.description}}</p>
                                        <a class="Wizard-Content-Theme-Item-Button" v-on:click.prevent="toggleTheme(theme)" href="#">{{theme.active ? 'Valt tema' : 'Välj tema'}}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div v-if="nav[1].active" class="Wizard-Content-Information-Item">
                            <ul class="Wizard-Content-Information-Item-List">
                                <li v-for="member in members" class="Wizard-Content-Information-Item-List-Item">
                                    <div  class="row">
                                        <div class="col-6 Wizard-Content-Information-Item-List-Item-Input Wizard-Content-Information-Item-List-Item-Name">
                                            <div class="form-group">
                                                <label>
                                                    Namn
                                                </label>
                                                <div class="input-group">
                                                    <input 
                                                        maxlength="24"
                                                        minlength="2"
                                                        class="form-control"
                                                        type='text'
                                                        v-model="member.name"
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4 Wizard-Content-Information-Item-List-Item-Input Wizard-Content-Information-Item-List-Item-Year">
                                            <div class="form-group">
                                                <label>
                                                    Årtal
                                                </label>

                                                <div class="input-group">
                                                    <input 
                                                        maxlength="4" 
                                                        minlength="4"
                                                        class="form-control"
                                                        type='text'
                                                        v-model="member.year"
                                                    />
                                                    <!--
                                                        <div class="invalid-feedback">
                                                            Please provide a valid year.
                                                        </div>
                                                    -->
                                                </div>
                                            </div>
                                        </div>
                                        <div v-on:click="removeMember(member)" class="col-2 Wizard-Content-Information-Item-List-Item-Remove">
                                            <div class="normal">
                                                <i class="far fa-times-circle"></i>
                                            </div>
                                            <div class="hover">
                                                <i class="fa fa-times-circle"></i>
                                                <span class="Wizard-Content-Information-Item-List-Item-Remove-Text">Ta bort</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-8">
                                    <a href="#" v-show="getActiveTheme().maxMembers !== members.length" v-on:click.prevent="addMember()" class="btn btn-sm btn-block btn-dark">
                                        + Lägg till familjemedlem                                
                                    </a>
                                    <button href="#" v-show="getActiveTheme().maxMembers === members.length" disabled class="btn btn-sm btn-block btn-max-reached">
                                        Max antal nått
                                    </button>
                                </div>
                                <div class="col-4">
                                    <div class="Information-Item-Max" v-bind:class="{ 'max-reached': getActiveTheme().maxMembers === members.length }">
                                        <span class="Information-Item-Max-title">Max antal</span>
                                        <span class="Information-Item-Max-value">
                                            {{ members.length }} / {{ getActiveTheme().maxMembers }}
                                        </span>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div v-if="nav[2].active" class="Wizard-Content-Design-Item">
                            <h4>Välj stil</h4>

                            <div class="form-group">
                                <label for="">Typsnitt för År</label>
                                <select class="form-control" v-model="design.yearFont" name="" id="">
                                    <option v-for="font in fonts" v-bind:value="font.family">
                                        {{font.family}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Typsnitt för Namn</label>
                                <select class="form-control" v-model="design.nameFont">
                                    <option v-for="font in fonts" v-bind:value="font.family">
                                        {{font.family}}
                                    </option>
                                </select>
                            </div>

                            <h4>Välj bland våra stilar</h4>

                            <ul class="Wizard-Content-Design-Theme-Item-List">
                                <li v-for="package in designPackages" class="Wizard-Content-Design-Theme-Item-List-Item" v-bind:class="{Active:package.active}">
                                    <div class="row" v-on:click.prevent="toggleDesignPackage(package)">
                                        <div class="col-4">
                                            <img v-bind:src="package.image" v-bind:alt="package.title" class="Wizard-Content-Design-Theme-Item-Image" />
                                        </div>
                                        <div class="col-8">
                                            <h3 class="Wizard-Content-Design-Theme-Item-Title">{{package.title}}</h3>
                                            <p class="Wizard-Content-Design-Theme-Item-Description">{{package.description}}</p>
                                            <a class="Wizard-Content-Design-Theme-Item-Button"  href="#">{{package.active ? 'Valt tema' : 'Välj tema'}}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div v-if="nav[3].active" class="Wizard-Content-Product-Item">
                            <h4>Välj produkt</h4>

                            <ul class="Wizard-Content-Product-Item-List">
                                <li v-for="product in products" class="Wizard-Content-Product-Item-List-Item" v-bind:class="{Active:product.active}">
                                    <div class="row" v-on:click.prevent="toggleProduct(product.id)">
                                        <div class="col-4">
                                            <img v-bind:src="product.image" v-bind:alt="product.name" class="Wizard-Content-Product-Item-Image" />
                                        </div>
                                        <div class="col-8">
                                            <h3 class="Wizard-Content-Product-Item-Title">{{product.name}}</h3>
                                            <p class="Wizard-Content-Product-Item-Description">{{product.description}}</p>
                                            <a class="Wizard-Content-Product-Item-Button"  href="#">{{product.active ? 'Vald produkt' : 'Välj produkt'}}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="Wizard-Content-Footer">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" v-show="!nav[0].active" v-on:click.prevent="togglePrevContent()" class="btn  btn-block Wizard-Content-Footer-Button">
                                    <i class="fa fa-chevron-left"></i>
                                    Föregående steg
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="#" v-show="!nav[3].active" v-on:click.prevent="toggleNextContent()" class="btn btn-block Wizard-Content-Footer-Button">
                                    Nästa steg
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12" v-show="nav[3].active">
                                <a href="#" v-on:click.prevent="addCartItem()" class="btn btn-sm btn-block btn-success action-add-to-cart">
                                    Lägg i varukorg
                                    <i class="fa fa-shopping-cart"></i>
                                </a>

                                <a href="/klarna-checkout" class="btn btn-sm btn-block btn-success action-go-to-checkout">
                                    Gå till betalning
                                    <i class="fa fa-handshake"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 Wizard-Item-Container">
                <div class="Wizard-Preview">
                    <div class="Wizard-Preview-Frame">
                        <div class="Wizard-Preview-InnerFrame">
                            <div class="Wizard-Preview-Content" v-bind:class="[getActiveTheme().slug]">
                                <div class="Wizard-Preview-Years"  v-bind:style="'font-family: ' + design.yearFont" >
                                    <div v-for="member in members" class="Wizard-Preview-Year-Item">{{member.year}}</div>
                                </div>
                                <div class="Wizard-Preview-Names" v-bind:style="'font-family: ' + design.nameFont" >
                                    <div v-for="member in members" class="Wizard-Preview-Name-Item">{{member.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                design: {
                    yearFont: 'Playfair Display',
                    nameFont: 'Open Sans'
                },
                designPackages: [
                    {
                        title: 'Stil #01',
                        description: 'Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.',
                        image: '#',
                        fonts: {
                            yearFont: 'Playfair Display',
                            nameFont: 'Open Sans'
                        },
                        active: false,
                    },
                    {
                        title: 'Stil #02',
                        description: 'Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.',
                        image: '#',
                        fonts: {
                            yearFont: 'Unica One',
                            nameFont: 'Playfair Display'
                        },
                        active: false,
                    },
                    {
                        title: 'Stil #03',
                        description: 'Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna.',
                        image: '#',
                        fonts: {
                            yearFont: 'Fira Sans',
                            nameFont: 'Great Vibes'
                        },
                        active: false,
                    },
                ],
                fonts: [],
                nav: [
                    {
                        title: 'Välj tema',
                        content: 'theme',
                        active: true
                    },
                    {
                        title: 'Information',
                        content: 'information',
                        active: false
                    },
                    {
                        title: 'Utseende',
                        content: 'design',
                        active: false
                    },
                    {
                        title: 'Storlek',
                        content: 'size',
                        active: false
                    },
                ],
                themes: [
                    {
                        slug: 'years',
                        title: 'Åren',
                        description: 'Födelseåren för din familj samlade på en vit canvas i ett tidlöst typsnitt .',
                        image: '#',
                        maxMembers: 5,
                        active: true
                    },
                    {
                        slug: 'years-and-names',
                        title: 'Åren med namn',
                        description: 'Födelseåren tillsammans med namnen för din familj samlade på en vit canvas i ett tidlöst typsnitt .',
                        image: '#',
                        maxMembers: 5,
                        active: false
                    },
                    {
                        slug: 'names',
                        title: 'Namnen',
                        description: 'Namnen för din familj samlade på en vit canvas i ett tidlöst typsnitt.',
                        image: '#',
                        maxMembers: 5,
                        active: false
                    },
                ],
                members: [
                    {
                        name: 'Sara',
                        year: '1991'
                    },
                    {
                        name: 'Christoffer',
                        year: '1992'
                    },
                    {
                        name: 'Winga',
                        year: '2014'
                    },
                    {
                        name: 'Tilly',
                        year: '2017'
                    },
                ],
                products: [
                    {
                        id: 1,
                        image: '',
                        name: '30x40',
                        price: 29900,
                        description: '30cm bred och 40cm hög',
                        active: false
                    },
                    {
                        id: 2,
                        image: '',
                        name: '40x50',
                        price: 34900,
                        description: '40cm bred och 50cm hög',
                        active: false
                    },
                    {
                        id: 3,
                        image: '',
                        name: '50x70',
                        price: 41900,
                        description: '50cm bred och 70cm hög',
                        active: true
                    },
                    {
                        id: 4,
                        image: '',
                        name: '70x100',
                        price: 49900,
                        description: '70cm bred och 100cm hög',
                        active: false
                    }
                ]
            }
        },
        methods: {
            toggleNextContent: function() {
                let currentNavItem = this.nav.findIndex((navItem) => {
                    return navItem.active;
                });

                this.toggleContent(this.nav[currentNavItem+1])
            },
            togglePrevContent: function() {
                let currentNavItem = this.nav.findIndex((navItem) => {
                    return navItem.active;
                });

                this.toggleContent(this.nav[currentNavItem-1])
            },
            toggleContent: function (navItem) {
                this.nav.map((item) => {
                    item.active = false;

                    if(item.title === navItem.title) {
                        item.active = true;
                    }
                });
            },
            toggleDesignPackage: function(designPackage) {
                this.designPackages.map((item) => {
                    item.active = false;

                    if(item.title === designPackage.title) {
                        item.active = true;

                        this.design.yearFont = designPackage.fonts.yearFont;
                        this.design.nameFont = designPackage.fonts.nameFont;
                    }
                });
            },
            toggleTheme: function(theme) {
                this.themes.map((item) => {
                    item.active = false;

                    if(item.title === theme.title) {
                        item.active = true;
                        this.activeTheme = theme.slug;
                    }
                });
            },
            toggleProduct: function(product) {
                this.products.map((item) => {
                    item.active = false;

                    if(item.id === product) {
                        item.active = true;
                    }
                });
            },
            getActiveTheme: function() {
                return this.themes.find((item) => {return item.active});
            },
            removeMember: function(member) {
                let index = this.members.findIndex((item) => {
                    return item.name === member.name;
                });
                this.members.splice(index, 1);
            },
            addMember: function() {
                this.members.push({
                    name: 'Namn',
                    year: '2018'
                })
            },
            addCartItem: function() {
                var self = this;
                let cart = localStorage.getItem('cart');
                axios.post('/cart/'+cart+'/cartItem', {
                    price: this._getActiveProduct().price,
                    name: this._getActiveProduct().name,
                    quantity: 1,
                    content: this._mapContentForCartItem()
                })
                .then(function(response) {
                    self.$store.commit('refreshCart');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            _getActiveProduct: function() {
                return this.products.filter((product) => {
                    return product.active;
                })[0];
            },
            _mapContentForCartItem: function() {
                let theme = this.themes.filter((theme) => {
                    return theme.active;
                });

                return JSON.stringify({
                    'theme': theme[0],
                    'members': this.members,
                    'design': this.design
                });
            }
        },
        mounted() {
            if(localStorage.getItem('googleFonts') === null) {
                var self = this;
                axios.get('https://www.googleapis.com/webfonts/v1/webfonts?sort=popularity&key=AIzaSyDoc4qMQwzewYN_htkUwstZz_QVIu3W-8M')
                    .then(function(response) {
                        localStorage.setItem('googleFonts', JSON.stringify(response.data.items))
                        self.fonts = response.data.items;
                    }).catch(function (error) {
                        console.log(error);
                    });
            } else {
                this.fonts = JSON.parse(localStorage.getItem('googleFonts'));
            }
        }
    }
</script>
