.App-footer {
	background: $gray-dark;	
	margin-top: 2rem;
	padding: 6rem 0;

	.Footer-text {
	  font-size: 0.875rem;
	  color: $gray;
	}

	.Instagram-header {
		h4 {
			color: $white;
			font-size: 1rem;
			float:left;

			&:last-child {
				float:right;
			}

			a {
				color: $white;
			}
		}
	}
}