.App-logo {
  height: 32px;
  margin: 8px 0;
}

.App-header {
  height: 88px;
  padding: 20px;
  margin-bottom: 2rem;
  background: #fff;
}

.App-title {
  display: inline;
  font-size: 1.5em;
}

.App-Menu-Item {
  float: right;
  padding: 6px 24px;
  border-radius: 20px;
  margin-right: 2rem;
  font-weight: bold;
}

.App-Menu-Item-Promote {
  border: 2px solid black;
  background: black;
  color: white;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.18);

  transition: all 300ms;
}

.App-Menu-Item-Promote:hover {
  color: black;
  background: white;
  text-decoration: none;
}