$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$black: #000;
$dark: $black;
$gray-dark: #1f2224;
$gray: #6e6e6e;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #49d4a5;
$brand-warning: #cbb956;
$brand-danger: #ff007c;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #49d4a5;
$teal:    #20c997;
$cyan:    #17a2b8;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Inter UI", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.4;
$text-color: $gray-dark;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
