.btn {
	padding: 8px 24px;
	border-radius: 20px;
	font-weight: bold;
	border-width: 2px;

	&.btn-dark {
		border-color: black;

		&:hover {
			color: 	black;
			background: white;
			text-decoration: none;
		}
	}

	&.btn-success {
		color: white;
	}
}