.Cart {
    font-family: "Inter UI", sans-serif;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    float: right;
    width: 128px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 300ms;
}

.Cart:hover {
    background: #000;
    color: white;
    border-color: black;
}

.Cart-Icon {
    float: left;
    position: relative;
    margin-right: 4px;
}

.Cart-Icon .Cart-Icon-Quantity {
    position: absolute;
    background: black;
    font-weight: bold;
    color: white;
    left: -22px;
    top: -18px;
    font-size: 0.625rem;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 14px;
    border-radius: 20px;
    border: 2px solid black;
    transition: all 300ms;
}

.Cart:hover .Cart-Icon .Cart-Icon-Quantity {
    color: black;
    background: white;
    border: 2px solid black;
}

.Cart-Sum {
    float: left;
    font-weight: bold;
}

.Cart-Symbol {
    float: right;
}